img.box-shadow {
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

button:disabled {
    cursor: not-allowed !important;
}

.space-only {
    width: 100%;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

tfoot {
    .detalhes-paginacao {
        margin-top: 18px;
        font-style: italic;
        color: #b3b3b3;
        // position: absolute;
    }
}
:host ::ng-deep {
    .pagination {
        display: flex;
        padding-left: 0;
        list-style: none;
        justify-content: flex-end;
    }
}

.image-box {
    border-radius: 8px;
}
