.space-only {
    width: 100%;
}

.dropdown-actions {
    margin-top: 12px;
}

.active-link {
    color: #6610f2 !important;
    font-weight: bold;
    border-bottom: 2px #6610f2 solid;
}

.ml-auto {
    margin-left: auto;
}

.theme-dark {
    a {
        color: #fff !important;
    }
}
.theme-ligth {
    a {
        color: #000 !important;
    }
}

.btn-entrar {
    letter-spacing: 0.1rem;
}
