.text-indigo {
    color: #6610F2;
}

.container-register {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.btn-submit {
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
}

